<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">


    <!-- 配置SecurityManager 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- 注入realm -->
        <property name="realm" ref="userRealm"></property>
    </bean>

    <!--自定义的realm类-->
    <bean id="userRealm" class="com.hy.crmsystem.mrli.realm.UserRealm">
        <!--shiro密码加密匹配器-->
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <!--加密方式-->
                <property name="hashAlgorithmName" value="MD5"></property>
                <!--加密次数-->
                <property name="hashIterations" value="100"></property>
            </bean>
        </property>
    </bean>

    <!-- 配置shiro的过滤器  这里面的id必须和web.xml里面的shiroFilter的 targetBeanName的值一样 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- 注入安全管理器 Shiro的核心安全接口，这个属性是必须的 -->
        <property name="securityManager" ref="securityManager"></property>
        <!-- 注入未登陆的跳转页面 默认的是webapp/login.jsp-->
        <property name="loginUrl" value="/login.html"></property>
        <!-- 注入未授权的访问页面 -->
        <property name="unauthorizedUrl" value="/page/error.html"></property>

        <!-- 配置过滤器链 权限配置-->
        <property name="filterChainDefinitions">
            <value>

                <!--/page/system/roleManager.html=perms[role:edit]-->

                /images/** = anon
                /api/** = anon
                /css/** = anon
                /fonts/** = anon
                /js/** = anon
                /lib/** = anon
                /page/** = anon
                /register.html = anon
                /tianJiaUser/UserZhuce.do =anon
                /invitation/fileuploadExecl.do =anon

                <!-- anon 表示此地址不需要任何权限即可访问 -->
                <!-- 放行index.jsp -->
                /index.html*=anon
                <!-- 放行跳转到登陆页面的路径 -->
                /login/toLogin*=anon
                <!-- 放行登陆的请求 -->
                /login/login*=anon
                <!-- 如果用户访问user/logout就使用Shiro注销session -->
                /login/logout*=logout
                <!--所有的请求(除去配置的静态资源请求或请求地址为anon的请求)都要通过过滤器url-->
                <!--/**=url-->

                <!-- /** = authc所有url都不可以匿名访问 必须放到最后面 -->
                /**=authc
            </value>
        </property>
    </bean>
</beans>
