<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.crmsystem.mrli.mapper.DocumentaryMapper">

    <select id="queryAllDocumentary" resultType="com.hy.crmsystem.mrli.entity.Documentary">
        select  * from documentary
        <where>
            <if test="docPeople!=null and docPeople!=''">
                and docPeople like concat("%",#{docPeople},"%")
            </if>
            <if test="docTitle != null and docTitle != ''">
                and docTitle like concat("%",#{docTitle},"%")
            </if>
            <if test="docTime!=null">
                and docTime >=#{docTime}
            </if>
        </where>
        order by docTime desc
    </select>


    <!--根据跟单标题 查询历史跟单记录 -->
    <select id="queryOldDocumentByDocTitle" resultType="com.hy.crmsystem.mrli.entity.Documentary">
        select * from documentary where docTitle=#{docTitle}
    </select>

    <!--根据登录人查询全部跟单-->
    <select id="queryAllDocumentaryByUserName" resultType="com.hy.crmsystem.mrli.entity.Documentary">
        select  * from documentary
        <where>
            <if test="docPeople!=null and docPeople!=''">
                and docPeople like concat("%",#{docPeople},"%")
            </if>
            <if test="docTitle != null and docTitle != ''">
                and docTitle like concat("%",#{docTitle},"%")
            </if>
            <if test="docTime!=null">
                and docTime >=#{docTime}
            </if>
            <if test="realname != null and realname != ''">
                and uname =#{realname}
            </if>
        </where>
        order by docTime desc
    </select>


</mapper>