<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.crmsystem.mrli.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.hy.crmsystem.mrli.entity.User">
        <id column="userid" jdbcType="INTEGER" property="userid"/>
        <result column="loginname" jdbcType="VARCHAR"
                property="loginname"/>
        <result column="identity" jdbcType="VARCHAR"
                property="identity"/>
        <result column="realname" jdbcType="VARCHAR"
                property="realname"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
        <result column="position" jdbcType="VARCHAR"
                property="position"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="available" jdbcType="INTEGER"
                property="available"/>
    </resultMap>





    <update id="updateUser"
            parameterType="com.hy.crmsystem.mrli.entity.User">
        update sys_user
        <set>
            <if test="loginname != null">
                loginname = #{loginname,jdbcType=VARCHAR},
            </if>
            <if test="identity != null">
                identity = #{identity,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                realname = #{realname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                position = #{position,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="available != null">
                available = #{available,jdbcType=INTEGER},
            </if>
        </set>
        where userid = #{userid,jdbcType=INTEGER}
    </update>

    <!-- 查询所有用户 -->

    <!-- 保存用户和角色的关系 -->
    <insert id="insertUserRole">
        insert into sys_role_user(uid,rid) values(#{uid},#{rid})
    </insert>

    <!-- 根据用户名查询用户对象 -->
    <select id="queryUserByUserName" resultMap="BaseResultMap">
        select  * from sys_user
        where loginname=#{username}
    </select>


</mapper>