<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>基本资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <style>
        .layui-form-item .layui-input-company {width: auto;padding-right: 10px;line-height: 38px;}
    </style>
</head>
<style type="text/css">
    #quxiao{
        margin-left: 500px;
    }
    #import{
        margin-left: 100px;
    }
</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
    <form class="layui-form" id="updateuser">
        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">管理账号</label>
                <div class="layui-input-block">
                    <input type="text" name="loginname" th:value="${user.getLoginname()}" lay-verify="required" lay-reqtext="管理账号不能为空" placeholder="请输入管理账号"  value="admin" class="layui-input">
                    <tip>填写自己管理账号的名称。</tip>
                </div>
            </div>
            <input type="hidden" name="userid" th:value="${user.getUserid()}">

            <div class="layui-form-item">
                <label class="layui-form-label">真实姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="realname" th:value="${user.getRealname()}" placeholder="请输入真实姓名"  value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-block">
                    <input type="text" name="phone" th:value="${user.getPhone()}" placeholder="请输入手机号"  value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">身份证号</label>
                <div class="layui-input-block">
                    <input type="text" name="identity" th:value="${user.getIdentity()}"  placeholder="请输入身份证号"  value="" class="layui-input">
                </div>
            </div>

            <input type="hidden" name="userimg" id="userimg">
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="import">上传头像</button>
                <div class="layui-upload-list">
                    <img class="layui-upload-img" id="img">
                    <p id="demoText"></p>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a class='btn btn-info' href="javascript:history.go(-1)"><button type="button" class="layui-btn" id="quxiao">取消</button></a>
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit=""  lay-filter="updateuser" >保存</button>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
<script src="/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit','upload', 'laydate','jquery','table','miniTab'], function () {
        var form = layui.form
            ,$ = layui.jquery
            , layer = layui.layer
            ,upload=layui.upload
            , layedit = layui.layedit
            , laydate = layui.laydate
            , table = layui.table;
             miniTab = layui.miniTab;
        //监听提交保存
        form.on('submit(updateuser)', function(data){
            $('form[id=updateuser]').attr('action','/tianJiaUser/updateUser.do').submit();
            return false;
        });



        var uploadInst = upload.render({
            elem: '#import'
            ,url: '/invitation/fileuploadExecl.do'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#img').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传成功
                if(res.code ==="0"){
                    $("#userimg").val(res.filename);
                    return layer.msg('上传成功');
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });
</script>
</body>
</html>